# Application settings.
app:
  # Whether to enable debug information.
  debug: false
  # Path to log file, if any.
  log:
  # URI to redirect to for unfulfilled requests.
  redirect: 'https://example.edu/'

# Template settings.
template:
  # Path to search for templates before this package's templates.
  path:
  # Filename of template that defines a page. Default: page.html.twig
  page:
  # Name of the site for the template.
  site:
  # Menu for the site in the template.
  menu:

# SMTP settings.
smtp:
  # Server hostname.
  host: 'smtp.example.edu'
  # Server port number. Default: 25
  port: 25
  # From address of the email.
  from:
    name: Library
    address: library@example.edu
  # Subject line of email.
  subject: Your Record
  # Carriers with SMS gateways.
  carriers:
    - name: Alltel
      host: sms.alltelwireless.com
    - name: AT&T
      host: txt.att.net
    - name: Boost
      host: sms.myboostmobile.com
    - name: Cricket
      host: mms.cricketwireless.net
    - name: Google Fi
      host: msg.fi.google.com
    - name: MetroPCS
      host: mymetropcs.com
    - name: Republic
      host: text.republicwireless.com
    - name: Sprint
      host: messaging.sprintpcs.com
    - name: T-Mobile
      host: tmomail.net
    - name: US Cellular
      host: email.uscc.net
    - name: Verizon
      host: vtext.com
    - name: Virgin
      host: vmobl.com

# Citations settings.
citations:
  # WorldCat Search API Web Services Key
  # https://platform.worldcat.org/wskey/
  wskey:

# Widgets settings.
widgets:
  # String to remove from permalinks to unproxy the URL.
  unproxy: